﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="CarRent.Default" %>
<asp:Content ID="Content1" runat="server" contentplaceholderid="MainContent">
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        <asp:Label ID="UserTxt" runat="server" Text="Label" Font-Size="XX-Large"></asp:Label>
    </p>
    <p>
        &nbsp;</p>
    <p>
        Welcome to the car rental network. If you want rent an elegant and super car, you&#39;ve come to the right place! Check our offer!<asp:Image ID="Image1" runat="server" ImageUrl="~/Image/Lada.jpg" />
    </p>
</asp:Content>

